 <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-end me-2 rotate-caret bg-white my-2" id="sidenav-main" >
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute start-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand px-4 py-3 m-0" href="/admin/dashboard" target="_blank">
        <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img" width="26" height="26" alt="main_logo">
        <span class="me-1 text-sm text-dark fs-5">Elkably System</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0 mb-2">
    <div class="collapse navbar-collapse px-0 w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav fs-5" >
        
        <!-- Dashboard Section -->
        <li class="nav-item">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 fs-5">لوحة التحكم</h6>
        </li>
        <li class="nav-item">
          <a class="<%= path=='/admin/dashboard' ? 'nav-link active bg-gradient-dark text-white ':'nav-link text-dark ' %>" href="/admin/dashboard">
            <i class="material-symbols-rounded opacity-10 fs-4">dashboard</i>
            <span class="nav-link-text me-1 fs-5">لوحة التحكم</span>
          </a>
        </li>

        <!-- Financial Management Section -->
        <li class="nav-item">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 fs-5">إدارة المالية</h6>
        </li>
        <li class="nav-item">
          <a class="<%= path=='/admin/billing' ? 'nav-link active bg-gradient-dark text-white ':'nav-link text-dark ' %>" href="/admin/billing">
            <i class="material-symbols-rounded opacity-10 fs-4">analytics</i>
            <span class="nav-link-text me-1 fs-5">مراجعة الفواتير</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="<%= path=='/admin/Admin-billing' ? 'nav-link active bg-gradient-dark text-white ':'nav-link text-dark ' %>" href="/admin/Admin-billing">
            <i class="material-symbols-rounded opacity-10 fs-4">add_circle</i>
            <span class="nav-link-text me-1 fs-5">إضافة فاتورة</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="<%= path=='/admin/center-fees' ? 'nav-link active bg-gradient-dark text-white ':'nav-link text-dark ' %>" href="/admin/center-fees">
            <i class="material-symbols-rounded opacity-10 fs-4">payments</i>
            <span class="nav-link-text me-1 fs-5">تحصيل رسوم السنتر</span>
          </a>
        </li>

        <!-- Employee Management Section -->
        <li class="nav-item">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 fs-5">إدارة الموظفين</h6>
        </li>
        <li class="nav-item">
          <a class="<%= path =='/admin/employee' ? 'nav-link active bg-gradient-dark text-white ':'nav-link text-dark ' %>" href="/admin/employee">
            <i class="material-symbols-rounded opacity-10 fs-4">people</i>
            <span class="nav-link-text me-1 fs-5">الموظفين</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="<%= path=='/admin/kpi' ? 'nav-link active bg-gradient-dark text-white ':'nav-link text-dark ' %>" href="/admin/kpi">
            <i class="material-symbols-rounded opacity-10 fs-4">assessment</i>
            <span class="nav-link-text me-1 fs-5">KPIs & الأداء</span>
          </a>
        </li>

        <!-- Reports Section -->
        <li class="nav-item">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 fs-5">التقارير</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/attendance-details">
            <i class="material-symbols-rounded opacity-10 fs-4">list_alt</i>
            <span class="nav-link-text me-1 fs-5">تفاصيل الحضور</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/teacher-report">
            <i class="material-symbols-rounded opacity-10 fs-4">analytics</i>
            <span class="nav-link-text me-1 fs-5">تقرير المعلم</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/dashboard?period=month">
            <i class="material-symbols-rounded opacity-10">bar_chart</i>
            <span class="nav-link-text me-1">تقرير شهري</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/dashboard?period=year">
            <i class="material-symbols-rounded opacity-10">trending_up</i>
            <span class="nav-link-text me-1">تقرير سنوي</span>
          </a>
        </li> -->

        <!-- Settings Section -->
        <li class="nav-item">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 fs-5">الإعدادات</h6>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-dark" href="#">
            <i class="material-symbols-rounded opacity-10">settings</i>
            <span class="nav-link-text me-1">إعدادات النظام</span>
          </a>
        </li> -->
   
      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn btn-outline-dark mt-4 w-100 fs-5" href="/admin/logout" type="button">
          <i class="material-symbols-rounded me-2">logout</i>
          تسجيل خروج
        </a>
      </div>
    </div>
  </aside>